.hidden {
    display: none;
}

#container {
    width: 1200;
    margin: 20px auto;
}

.grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px repeat(3, 1fr);
    gap: 30px;
}

section {
    grid-column: 1/-1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-size: 38px;
    grid-column: 5/9;
    grid-row: 1/1;
    margin: 40px;
}

img {
    width: 150px;
    margin: 0 auto;
}

.mic img {
    width: 125px;
}

.header-img {
    width: 100%;
}

.headphones {
    grid-column: 2/4;
    grid-row: 2/3;
}

.disk {
    grid-column: 4/6;
    grid-row: 2/3;
}

.drum {
    grid-column: 6/8;
    grid-row: 2/3;
}

.guitar {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mic {
    grid-column: 10/12;
    grid-row: 2/3;
    width: 150px;
}

.note {
    grid-column: 2/4;
    grid-row: 3/4;
}

.sound {
    grid-column: 4/6;
    grid-row: 3/4;
}

.speaker {
    grid-column: 6/8;
    grid-row: 3/4;
}

.piano {
    grid-column: 8/10;
    grid-row: 3/4;
}

.shaker {
    grid-column: 10/12;
    grid-row: 3/4;
}

.footer-img {
    width: 100%;
}

.grid div {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.grid div p {
    padding: 10px;
}
p:hover {
    text-decoration: underline;
    cursor: pointer;
}


section div img {
    transition: 1s ease;
    }
    
.grid img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.6s ease;
    }
    